<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/drms" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>orm/Users.hbm.xml</value>
				<value>orm/UserRoles.hbm.xml</value>
				<value>orm/BatteryReport.hbm.xml</value>
				<value>orm/AuditDetail.hbm.xml</value>
				<value>orm/UserAccount.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>

	<bean id="userDao" class="com.riglesoft.users.dao.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="brDao" class="com.riglesoft.users.dao.BatteryReportDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="auditDAO" class="com.panasonic.drms.audit.dao.AuditDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>	
	<bean id="userAccountDAO" class="com.panasonic.drms.accounts.dao.UserAccountDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>	
		
	<bean id="myUserDetailsService" class="com.riglesoft.users.service.MyUserDetailsService">
		<property name="userDao" ref="userDao" />
	</bean>
	<bean id="BatteryReportService" class="com.riglesoft.users.service.BatteryReportService">
		<property name="brDao" ref="brDao" />
	</bean>
	<bean id="AuditService" class="com.panasonic.drms.audit.service.AuditService">
		<property name="auditDAO" ref="auditDAO" />
	</bean>	
	<bean id="AccountService" class="com.panasonic.drms.accounts.service.AccountService">
		<property name="userAccountDAO" ref="userAccountDAO" />
	</bean>		
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="find*" read-only="true" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="userServicePointCut"
			expression="execution(* com.riglesoft.users.service.*Service.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="userServicePointCut" />
	</aop:config>
	<aop:config>
		<aop:pointcut id="auditServicePointCut"
			expression="execution(* com.panasonic.drms.audit.service.*Service.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="auditServicePointCut" />
	</aop:config>
	<aop:config>
		<aop:pointcut id="accountServicePointCut"
			expression="execution(* com.panasonic.drms.accounts.service.*Service.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="accountServicePointCut" />
	</aop:config>	
</beans>